SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetInstallNumOfInstallDate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[GetInstallNumOfInstallDate]
	@InstallDate int
As
	Select InstallNum From InstallStatistic Where InstallDate= @InstallDate


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInstallLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'




CREATE Procedure [dbo].[InsertInstallLog]
	@InstallDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@InstallTime int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrInstallTime varchar(50)
	declare @SQL varchar(8000)
	Set @StrInstallTime = @InstallTime
	Set @TableValue = @InstallDate
	Set @TableName = ''InstallLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(PlayerIdentifier, SoftIdentifier, SoftVer,AdvertIdentifier, InstallOldSoft, InstallTime) Values ('''''' + @PlayerIdentifier + '''''', '''''' + @SoftIdentifier + '''''', '''''' + @SoftVer + '''''', '''''' + @AdvertIdentifier + '''''', 0, '' +  @StrInstallTime + '')''
	exec(@SQL)




' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInstallStatistic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[InsertInstallStatistic]
	@InstallDate int
As
	Insert Into InstallStatistic
	(
		InstallDate,
		InstallNum
	)
	Values
	(
		@InstallDate,
		0
	)


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertOnlineLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[InsertOnlineLog]
	@OnlineDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@TypeWrite int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrTypeWrite varchar(50)
	declare @SQL varchar(8000)
	Set @StrTypeWrite = @TypeWrite 
	Set @TableValue = @OnlineDate
	Set @TableName = ''OnlineLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(PlayerIdentifier, SoftIdentifier, SoftVer, AdvertIdentifier, TypeWrite) Values ('''''' + @PlayerIdentifier + '''''', '''''' + @SoftIdentifier + '''''', '''''' + @SoftVer + '''''', '''''' + @AdvertIdentifier + '''''','' +  @StrTypeWrite + '')''
	exec(@SQL)


' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUninstLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[InsertUninstLog]
	@UninstDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@UninstTime int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrUninstTime varchar(50)
	declare @SQL varchar(8000)
	Set @StrUninstTime = @UninstTime
	Set @TableValue = @UninstDate
	Set @TableName = ''UninstLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(PlayerIdentifier, SoftIdentifier, SoftVer,AdvertIdentifier, UninstTime) Values ('''''' + @PlayerIdentifier + '''''', '''''' + @SoftIdentifier + '''''', '''''' + @SoftVer + '''''', '''''' + @AdvertIdentifier + '''''','' +  @StrUninstTime + '')''
	exec(@SQL)


' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertUpgradeLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[InsertUpgradeLog]
	@UpgradeDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@OldSoftVer nvarchar(50),
	@NewSoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@UpgradeTime int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrUpgradeTime varchar(50)
	declare @SQL varchar(8000)
	Set @StrUpgradeTime = @UpgradeTime
	Set @TableValue = @UpgradeDate
	Set @TableName = ''UpgradeLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(PlayerIdentifier, SoftIdentifier, OldSoftVer, NewSoftVer, AdvertIdentifier, UpgradeTime) Values ('''''' + @PlayerIdentifier + '''''', '''''' + @SoftIdentifier + '''''', '''''' + @OldSoftVer + '''''', '''''' + @NewSoftVer + '''''', '''''' + @AdvertIdentifier + '''''','' +  @StrUpgradeTime + '')''
	exec(@SQL)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateOtherSoftInstallLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Procedure [dbo].[CreateOtherSoftInstallLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''OtherSoftInstallLog'' + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ''
	Set @SQL = @SQL + ''(''
	Set @SQL = @SQL + '' [PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[ComputerType] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[RegeditWeb] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SettingWeb] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[NewLabeWebl] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[IPValue] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[ProgressNum] [int] NULL''
	Set @SQL = @SQL + '',[InstallOldSoft] [int] NULL''
	Set @SQL = @SQL + '',[InstallTime] [int] NULL''
	Set @SQL = @SQL + '')''
	exec(@SQL)

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateInstallStatistic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[UpdateInstallStatistic]
	@InstallDate int,
	@InstallNum int
As
	Update InstallStatistic
	Set InstallNum = @InstallNum
	Where InstallDate = @InstallDate



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertInstallLogV1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
Create Procedure [dbo].[InsertInstallLogV1]
	@InstallOldSoft tinyint,
	@InstallDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@InstallTime int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrInstallOldSoft varchar(50)
	declare @StrInstallTime varchar(50)
	declare @SQL varchar(8000)
	Set @StrInstallOldSoft = @InstallOldSoft
	Set @StrInstallTime = @InstallTime
	Set @TableValue = @InstallDate
	Set @TableName = ''InstallLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(PlayerIdentifier, SoftIdentifier, SoftVer,AdvertIdentifier, InstallOldSoft, InstallTime) Values ('''''' + @PlayerIdentifier + '''''', '''''' + @SoftIdentifier + '''''', '''''' + @SoftVer + '''''', '''''' + @AdvertIdentifier + '''''','' +  @StrInstallOldSoft + '','' +  @StrInstallTime + '')''
	exec(@SQL)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertOtherSoftInstallLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[InsertOtherSoftInstallLog]
	@InstallDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@ComputerType nvarchar (50),
	@RegeditWeb nvarchar (100),
	@SettingWeb nvarchar (100),
	@NewLabeWebl nvarchar (100),
	@ProgressNum int,
	@InstallTime int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrProgressNum varchar(50)
	declare @StrInstallTime varchar(50)
	declare @SQL varchar(8000)
	Set @StrInstallTime = @InstallTime
	Set @StrProgressNum = @ProgressNum
	Set @TableValue = @InstallDate
	Set @TableName = ''OtherSoftInstallLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(''
	Set @SQL = @SQL + ''PlayerIdentifier''
	Set @SQL = @SQL + '', SoftIdentifier''
	Set @SQL = @SQL + '', SoftVer''
	Set @SQL = @SQL + '', AdvertIdentifier''
	Set @SQL = @SQL + '', ComputerType''
	Set @SQL = @SQL + '', RegeditWeb''
	Set @SQL = @SQL + '', SettingWeb''
	Set @SQL = @SQL + '', NewLabeWebl''
	Set @SQL = @SQL + '', ProgressNum''
	Set @SQL = @SQL + '', InstallOldSoft''
	Set @SQL = @SQL + '', InstallTime''
	Set @SQL = @SQL + '') Values (''
	Set @SQL = @SQL + '''''''' + @PlayerIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @SoftIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @SoftVer + ''''''''
	Set @SQL = @SQL + '', '''''' + @AdvertIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @ComputerType + ''''''''
	Set @SQL = @SQL + '', '''''' + @RegeditWeb + ''''''''
	Set @SQL = @SQL + '', '''''' + @SettingWeb + ''''''''
	Set @SQL = @SQL + '', '''''' + @NewLabeWebl + ''''''''
	Set @SQL = @SQL + '', '' +  @StrProgressNum
	Set @SQL = @SQL + '', 0''
	Set @SQL = @SQL + '', '' +  @StrInstallTime
	Set @SQL = @SQL + '')''
	exec(@SQL)




' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateOtherSoftOnlineLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
Create Procedure [dbo].[CreateOtherSoftOnlineLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''OtherSoftOnlineLog'' + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ''
	Set @SQL = @SQL + ''(''
	Set @SQL = @SQL + '' [PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[ComputerType] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[RegeditWeb] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[SettingWeb] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[NewLabeWebl] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[IPValue] [nvarchar] (100) COLLATE Chinese_PRC_CI_AS NULL ''
	Set @SQL = @SQL + '',[ProgressNum] [int] NULL''
	Set @SQL = @SQL + '')''
	exec(@SQL)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertOtherSoftOnlineLog]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE Procedure [dbo].[InsertOtherSoftOnlineLog]
	@OnlineDate int,
	@PlayerIdentifier nvarchar(50),
	@SoftIdentifier nvarchar(50),
	@SoftVer nvarchar(50),
	@AdvertIdentifier nvarchar (50),
	@ComputerType nvarchar (50),
	@RegeditWeb nvarchar (100),
	@SettingWeb nvarchar (100),
	@NewLabeWebl nvarchar (100),
	@ProgressNum int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @StrProgressNum varchar(50)
	declare @SQL varchar(8000)
	Set @StrProgressNum = @ProgressNum
	Set @TableValue = @OnlineDate
	Set @TableName = ''OtherSoftOnlineLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Insert Into '' + @TableName + ''(''
	Set @SQL = @SQL + ''PlayerIdentifier''
	Set @SQL = @SQL + '', SoftIdentifier''
	Set @SQL = @SQL + '', SoftVer''
	Set @SQL = @SQL + '', AdvertIdentifier''
	Set @SQL = @SQL + '', ComputerType''
	Set @SQL = @SQL + '', RegeditWeb''
	Set @SQL = @SQL + '', SettingWeb''
	Set @SQL = @SQL + '', NewLabeWebl''
	Set @SQL = @SQL + '', ProgressNum''
	Set @SQL = @SQL + '') Values (''
	Set @SQL = @SQL + '''''''' + @PlayerIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @SoftIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @SoftVer + ''''''''
	Set @SQL = @SQL + '', '''''' + @AdvertIdentifier + ''''''''
	Set @SQL = @SQL + '', '''''' + @ComputerType + ''''''''
	Set @SQL = @SQL + '', '''''' + @RegeditWeb + ''''''''
	Set @SQL = @SQL + '', '''''' + @SettingWeb + ''''''''
	Set @SQL = @SQL + '', '''''' + @NewLabeWebl + ''''''''
	Set @SQL = @SQL + '', '' +  @StrProgressNum
	Set @SQL = @SQL + '')''
	exec(@SQL)

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateInstallLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE Procedure [dbo].[CreateInstallLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''InstallLog'' + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ([PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[InstallOldSoft] [int] NULL, [InstallTime] [int] NULL)''
	exec(@SQL)



' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateOnlineLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[CreateOnlineLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''OnlineLog''
	Set @TableName = @TableName + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ([PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[TypeWrite] [int] NULL)''
	exec(@SQL)


' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateUninstLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE Procedure [dbo].[CreateUninstLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''UninstLog'' + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ([PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[UninstTime] [int] NULL)''
	exec(@SQL)


' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CreateUpgradeLogDateTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE Procedure [dbo].[CreateUpgradeLogDateTable]
	@DateValue int
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	Set @TableValue = @DateValue
	Set @TableName = ''UpgradeLog'' + @TableValue
	Set @SQL = ''Create Table [dbo].['' + @TableName + ''] ([PlayerIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[SoftIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[OldSoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL,[NewSoftVer] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[AdvertIdentifier] [nvarchar] (50) COLLATE Chinese_PRC_CI_AS NULL ,[UpgradeTime] [int] NULL)''
	exec(@SQL)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE Procedure [dbo].[GetData]
	@Date nvarchar(50),
	@AdvertIdentifier nvarchar(50)
As
	declare @TableName varchar(50)
	declare @TableValue varchar(50)
	declare @SQL varchar(8000)
	declare @len int
	--安装数据
	Set @TableValue = @Date
	Set @TableName = ''InstallLog''
	Set @TableName = @TableName + @TableValue
	if (@AdvertIdentifier = '''')
		begin
			Set @SQL = ''Select Count(*) As 安装数据 From '' + @TableName + ''''
		end
	else
		begin
			Set @SQL = ''Select Count(*) As 安装数据 From '' + @TableName + '' Where AdvertIdentifier = '''''' + @AdvertIdentifier + ''''''''
		end
	exec(@SQL)
	--独立安装
	Set @TableValue = @Date
	Set @TableName = ''InstallLog''
	Set @TableName = @TableName + @TableValue
	if (@AdvertIdentifier = '''')
		begin
			Set @SQL = ''Select Count(*) As 独立安装 From (Select Count(*) As 独立安装 From '' + @TableName + ''  Group By PlayerIdentifier Having Count(*) >= 1) As InstallTable''
		end
	else
		begin
			Set @SQL = ''Select Count(*) As 独立安装 From (Select Count(*) As 独立安装 From '' + @TableName + '' Where AdvertIdentifier = '''''' + @AdvertIdentifier + '''''' Group By PlayerIdentifier Having Count(*) >= 1) As InstallTable''
		end
	exec(@SQL)
	--卸载数据
	Set @TableName = ''UninstLog''
	Set @TableName = @TableName + @TableValue
	set @len=len(@AdvertIdentifier)
	set @len=@len-4
	set @AdvertIdentifier=Substring(@AdvertIdentifier,5, @len)
	if (@AdvertIdentifier = '''')
		begin
			Set @SQL = ''Select Count(*) As 卸载数据 From '' + @TableName + ''''
		end
	else
		begin
			Set @SQL = ''Select Count(*) As 卸载数据 From '' + @TableName + '' Where AdvertIdentifier = '''''' + @AdvertIdentifier + ''''''''
		end
	exec(@SQL)
	--在线数据
	Set @TableName = ''OnlineLog''
	Set @TableName = @TableName + @TableValue
	if (@AdvertIdentifier = '''')
		begin
			Set @SQL = ''Select Count(*) As 在线数据 From '' + @TableName + '' ''
		end
	else
		begin
			Set @SQL = ''Select Count(*) As 在线数据 From '' + @TableName + '' Where AdvertIdentifier = '''''' + @AdvertIdentifier + ''''''''
		end
	exec(@SQL)
' 
END
